{% style %}
#BM-{{ section.id}} {
	align-items: center;
	background: {{sections.settings.color_bg}};
    border-top: {{ section.settings.border_width }}px solid {{ section.settings.color_border }};
    border-bottom: {{ section.settings.border_width }}px solid {{ section.settings.color_border }};
    color: {{ section.settings.color_text }};
    padding-top: {{ section.settings.padding }}px;
    padding-bottom: {{ section.settings.padding }}px;
	display: flex;
	height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
BM-{{ section.id }} .bm-templates_infinite-auto-carousel {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	BM-{{ section.id }} .bm-templates_carousel-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	BM-{{ section.id }} .bm-templates_carousel-item{
		height: 100px;
		width: 250px;
	}
}
{% endstyle %}

<section id="BM-{{ section.id }}" class="BM-section bm-templates__infinite-auto-carousel {{ section.settings.css_class }}">
  {%- if section.settings.link_url != blank -%}
      <a href="{{ section.settings.link_url }}">
  {%- endif -%}
  <div class="bm-templates_infinite-auto-carousel">
    <div class="bm-templates_carseoul-track">
      {%- for i in (1..5) -%}
        {%- for block in section.blocks -%}
          <div id="block-{{ block.id }}" class="bm-templates_carousel-item"  {{ block.shopify_attributes }}>
            {%- if block.settings.image != blank -%}
              {{ block.settings.image | image_url: width: 250 | image_url: height: 100 | image_tag }}
            {%- endif -%}
            {%- if block.settings.text != blank -%}
              {{ block.settings.text }}
            {%- endif -%}
                      <style>
            @media screen and (max-width: 768px) {
              #block-{{ block.id }}.bm-templates_carousel-item img {
                width: {{ block.settings.image_width_mobile }}px;
              }
              #block-{{ block.id }}.bm-templates_carousel-item {
                grid-template-columns: {% if block.settings.image != blank %}{{ block.settings.image_width_mobile }}px {% endif %}auto;
              }
            }
            @media screen and (min-width: 769px) {
              #block-{{ block.id }}.bm-templates_carousel-item img {
                width: {{ block.settings.image_width }}px;
              }
              #block-{{ block.id }}.bm-templates_carousel-item {
                grid-template-columns: {% if block.settings.image != blank %}{{ block.settings.image_width }}px {% endif %}auto;
              }
            }
            </style>
          </div>
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>
</section>

          
          
{% schema %}
{
"name": "BM Infinite Auto Carousel",
"settings": [
{
"type": "header",
"content": "Content"
},
{
"type": "url",
"id": "link_url",
"label": "Link"
},
{
"type": "header",
"content": "Color"
},
{
"type": "color",
"id": "color_text",
"label": "Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "color_bg",
"label": "Background Color",
"default": "#000"
},
{
"type": "color",
"id": "color_border",
"label": "Border Color",
"default": "#000"
},
{
"type": "range",
"id": "border_width",
"min": 0,
"max": 6,
"step": 1,
"label": "Border Width",
"default": 0
},
{
"type": "header",
"content": "Size & Movement"
},
{
"type": "range",
"id": "text_size",
"label": "Text Size (Desktop)",
"default": 30,
"min": 10,
"max": 60,
"step": 2,
"unit": "px"
},
{
"type": "range",
"id": "text_size_mobile",
"label": "Text Size (Mobile)",
"default": 20,
"min": 10,
"max": 40,
"step": 2,
"unit": "px"
},
{
"type": "range",
"id": "item_padding",
"label": "Space after text",
"default": 20,
"min": 20,
"max": 100,
"step": 5,
"unit": "px"
},
{
"type": "select",
"id": "direction",
"label": "Direction",
"options": [
{
"label": "Left",
"value": "normal"
},
{
"label": "Right",
"value": "reverse"
}
],
"default": "normal"
},
{
"type": "range",
"id": "speed",
"label": "Speed",
"min": 10,
"max": 400,
"step": 5,
"default": 100,
"unit": "sec",
"info": "Higher number is slower speed. When more blocks or text is added, the speed increases and you may wish to lower the speed"
},
{
"type": "range",
"id": "padding",
"min": 0,
"max": 40,
"step": 2,
"label": "Padding above and below",
"default": 10
},
{
"type": "header",
"content": "Mobile"
},
{
"type": "checkbox",
"id": "mobile_hide",
"label": "Hide on mobile", 
"info": "Text marquees can sometimes be glitchy on mobile due to browser performance issues, especially when using images. If experiencing problems, consider hiding on mobile."
},
{
"type": "header",
"content": "Advanced"
},
{
"type": "text",
"id": "css_class",
"label": "CSS Class"
},
{
"type": "textarea",
"id": "custom_css",
"label": "Custom CSS",
"info": "Write your CSS here. Use !important when necessary."
}
],
"blocks": [
{
"type": "item",
"name": "Marquee Item",
"settings": [
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Free shipping and returns</p>"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"label": "Image Width (Desktop)",
"min": 30,
"max": 200,
"step": 2,
"unit": "px",
"default": 40
},
{
"type": "range",
"id": "image_width_mobile",
"label": "Image Width (Mobile)",
"min": 30,
"max": 100,
"step": 1,
"unit": "px",
"default": 40
}
]
}
],
"presets": [
{
"name": "BM Infinite Auto Carousel",
"category": "BM Templates",
"blocks": [
{
"type": "item",
"settings": {
"text": "<p>New collection just released</p>"
}
},
{
"type": "item",
"settings": {
"text": "<p>Shop Now</p>"
}
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}